<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<!-- 配置前端控制器 -->
	<servlet>
		<servlet-name>et</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classPath:spring-mvc.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>et</servlet-name>
		<!-- 1. *.action:表示拦截以.action结尾的请求
			2. /*: 表示拦截所有请求,包括jsp,这个地方不推荐使用/*
			3. /: 表示拦截所有请求,可以支持REST风格的请求,推荐使用
		
		 -->
		
		<url-pattern>/</url-pattern>
	</servlet-mapping>
</web-app>
