<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	
	xsi:schemaLocation="
	
	http://www.springframework.org/schema/beans	
	http://www.springframework.org/schema/beans/spring-beans-4.2.xsd	
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-4.2.xsd	
	http://www.springframework.org/schema/mvc
	http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd">
	
	<context:component-scan base-package="com.etoak">
		<context:include-filter type="annotation"
		
		expression="org.springframework.stereotype.Controller" />
	
	
	</context:component-scan>
	
	<mvc:annotation-driven></mvc:annotation-driven>
	
	<mvc:default-servlet-handler/>
	<!-- 定制静态资源位子和访问路径 -->
	<!-- 定制到classpath:/static/,访问url:/s/** -->
	<!-- location属性:定义静态资源位置 -->
	<!-- mapping属性:定义静态访问url, -->
	<mvc:resources location="classpath:/static/" mapping="/s/**" />
	
	<mvc:resources location="file:d:/upload/" mapping="/pic/**" />
	
	
	
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/pages/"></property>
		<property name="suffix" value=".jsp"></property>
	</bean>
	
	
	
	

	</beans>
	
	