<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	
	xsi:schemaLocation="
	
	http://www.springframework.org/schema/beans	
	http://www.springframework.org/schema/beans/spring-beans-4.2.xsd	
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-4.2.xsd	
	http://www.springframework.org/schema/mvc
	http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd">
	
	<!-- 1.注解扫描 -->
	<context:component-scan base-package="com.etoak">
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
		<context:include-filter type="annotation" expression="org.springframework.web.bind.annotation.RestController"/>
	
		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Service"></context:exclude-filter> 
		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Repository"></context:exclude-filter> 
	
	
	
	</context:component-scan>
	
	
	
	
	<!-- 2.开启mvc配置 -->
	<mvc:annotation-driven></mvc:annotation-driven>
	<!-- 3. -->
	<mvc:default-servlet-handler/>
	
	<mvc:resources location="file:d/upload" mapping="/pic/**" ></mvc:resources>
	<!--  -->
	<bean id="templateResolver" class="org.thymeleaf.spring5.templateresolver.SpringResourceTemplateResolver">
		<property name="prefix" value="/templates/"></property>
		<property name="suffix" value=".html"></property>
		<property name="characterEncoding" value="UTF-8"></property>
		<property name="templateMode" value="HTML"></property>
		<property name="cacheable" value="false"></property>
	</bean>
	<bean id="templateEngine" class="org.thymeleaf.spring5.SpringTemplateEngine">
		<property name="templateResolver" ref="templateResolver"></property>
	
	</bean>
	<bean class="org.thymeleaf.spring5.view.ThymeleafViewResolver">
		<property name="templateEngine" ref="templateEngine"></property>
		<property name="characterEncoding" value="UTF-8"></property>
	</bean>
	
	<!-- 文件上传解析器 -->
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<!-- 文件大小限制2MB -->
		<property name="maxUploadSize" value="2097152"></property>
	</bean>
	<!--  -->
	
	
	
	
	
	
	
	
	
	
	
	
	</beans>
	
	